.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.popup-content {
  font-size: 18px;
  line-height: 1.4;
}

.popup-content h1 {
  font-size: 24px;
  margin: 0;
}

.popup-content strong {
  font-size: 20px;
}

.popup-content p {
  font-size: 20px;
}

.popup-content img {
  margin-top: 10px;
}

.leaflet-popup-content-wrapper {
  width: 300px !important;
}

.leaflet-popup-content {
  font-size: 18px !important;
}
